<div _ngcontent-c9="" class="col-lg-6">
  <div
    _ngcontent-c9=""
    class="custom-tab-content flex-column flex-md-row"
    type="pills"
  >
    <div class="tab-content">
      <div
        role="tabpanel"
        class="tab-pane active"
        aria-labelledby="ngb-tab-9"
        id="ngb-tab-9-panel"
        aria-expanded="true"
      >
        <p _ngcontent-c9="" class="description">
          Raw denim you probably haven't heard of them jean shorts Austin.
          Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
          cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
          butcher retro keffiyeh dreamcatcher synth.
        </p>
        <p _ngcontent-c9="" class="description">
          Raw denim you probably haven't heard of them jean shorts Austin.
          Nesciunt tofu stumptown aliqua, retro synth master cleanse.
        </p>
      </div>
    </div>
  </div>
</div>
