<div class="p-5 text-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle w-16 h-16 text-theme-9 mx-auto mt-3"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
  <div class="text-3xl mt-5">¡Listo!</div>
  <div class="text-gray-600 mt-2">Has realizado el pago correctamente!</div>
</div>
<div class="px-5 pb-8 text-center">
  <button type="button" (click)="close($event)" data-dismiss="modal" class="button w-24 bg-theme-9 text-white">Ok</button>
</div>
